/* typography */
.fw_400,
.ui.fw_400 {
  font-weight: 400;
}

/* display */
.d_flex {
  display: flex;
}

.ai_center {
  align-items: center;
}

/* paddings, margins */
.m_0,
.ui.m_0 {
  margin: 0;
}
